<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Online Shop Management System</h1>
    <form methhod="post" action="../controller/loginCheck.php" enctype="multipart/form-data">
        <fieldset>
            <legend>Admin Login</legend>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>
        </fieldset>
    </form>
    <br>
    <a href="register.html">Register Admin</a>
</body>
</html>