body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: lightblue;
}
.container{
    background :white;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    box-shadow:0 0 5px gray;
}
input{
    padding: 8px;
    margin-top: 10px;
    width: 100px;
}
h3{
    color: darkblue;
}